header {
    border-bottom: 1px solid #44f;
    padding: 1rem 1rem;
    font-family:  sans-serif;
    background: rgb(239, 215, 171);
    font-size: 24px;
    position: sticky;

}
div {
    float: right;
}
a {
    text-align: right;
    text-underline-position:none;
    padding-left: 20px;
    color: #611;
    text-decoration: none;
}
    a:hover {
        color: rgb(228, 133, 38);
        text-decoration: underline;
    }
