body {
    
    height: 800px;
    width: 100%;
    background-color: rgb(230, 189, 131);
    margin: 0;
}
header {
    border-bottom: 1px solid rgb(5, 5, 46);
    padding: 1rem 1rem;
    font-family:  sans-serif;
    background: rgb(230, 189, 131);
    font-size: 24px;
    position: fixed;
    width: 97%;
   
   

}
.link {
    float: right;
   
}
a {
    text-align: right;
    text-underline-position:none;
    padding-left: 20px;
    color: #611;
    text-decoration: none;
    
}
    a:hover {
        color: rgb(228, 133, 38);
        text-decoration: underline;
    
    }

    .one {
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        border-bottom: solid #611;
        padding: 1rem;
    }
section {
    
    
    background-color: rgb(245, 191, 111);
    padding-top: 50px;
    
}
  p {
  
    font-size: 24px;
    text-align: justify;
    line-height: 2;

    
  }
  ul {
    font-size: 34px:

  }